/*
    Custom fonts
    definitions
*/

@font-face {
    font-family: 'Streetwear';
    src: local('Streetwear'),
         url('../fonts/Streetwear.otf') format('opentype');
    font-weight: 400;
}

@font-face {
    font-family: 'Molle';
    src: local('Molle'),
         url('../fonts/Molle.ttf') format('truetype');
    font-weight: 400;
}
