/*
    Variables
    definitions
*/

// Colors
$color-font-primary: #697899;

$color-primary: #017dfb;
$color-primary-light: #1b8afb;
$color-primary-light-2: #5abafd;
$color-primary-light-3: #0dcfff;

$color-white: #fff;
$color-black: #000;
$color-grey-light: #c5c5c5;
$color-grey-dark: #bdbdbd;
$color-grey: #f9f9f9;
$color-grey-light-2: #d9dce3;

// Sizes
$col-gap: 3rem;
$row-gap: 3rem;
