/*
    Variables
    definitions
*/

// Colors
$color-font-primary: #697899;

$color-primary: #017dfb;
$color-primary-light: #1b8afb;

$color-white: #fff;
$color-grey-light: #c5c5c5;
$color-grey-dark: #bdbdbd;
