/*
    Imports and components
*/
@import 'variables';
@import 'mixins';
@import 'utilities';
@import 'grid';
@import 'fonts';
@import 'base';

/*
    Components
*/

// Header
.main-header {
	position: relative;

	&__checkbox {
		display: none;
	}

	&__checkbox:checked ~ &__nav {
		opacity: 1;
		visibility: visible;
		max-height: 250px;
	}

	&__checkbox:checked ~ &__menu-btn {
		&::before {
			transform: rotate(45deg);
			top: 2.5rem;
		}

		&::after {
			transform: rotate(-45deg);
			top: 2.5rem;
		}
	}

	&__menu-btn {
		display: none;
		width: 3.5rem;
		height: 5rem;

		position: absolute;
		top: 0;
		right: 2rem;

		@include media(900px) {
			display: block;
		}

		&::before,
		&::after {
			content: '';
			display: block;
			height: 3px;
			width: 100%;
			background-color: $color-primary;
			position: absolute;
			transition: top 0.2s ease, transform 0.2s ease;
		}

		&::before {
			top: 2rem;
		}

		&::after {
			top: 3rem;
		}
	}

	&__container {
		position: relative;
		z-index: 1;

		max-width: 160rem;
		margin: 0 auto;
		margin-top: 3rem;
		padding: 1rem 0;

		@include clearfix;

		@include media(1600px) {
			max-width: 120rem;
		}

		@include media(1200px) {
			padding: 0 3rem;
		}

		@include media(900px) {
			padding: 0;
			text-align: center;
		}
	}

	&__logo:link,
	&__logo:visited {
		display: inline-block;
		font-family: 'Molle';
		font-size: 3rem;
		color: $color-primary;
		text-decoration: none;
		transition: color 0.2s ease;

		float: left;
		margin-top: 1rem;

		&:hover {
			color: rgba($color-primary, 0.7);
		}

		@include media(900px) {
			float: none;
		}
	}

	&__nav {
		float: right;
		@include clearfix;

		@include media(900px) {
			display: block;
			float: none;

			width: 90%;
			margin: 0 auto;

			visibility: hidden;
			opacity: 0;
			max-height: 0;
			transition: max-height 0.2s ease, opacity 0.2s ease;
		}

		&-list {
			float: left;
			margin-right: 4rem;

			list-style: none;

			@include media(900px) {
				float: none;
				margin-bottom: 4rem;
				margin-right: 0;
			}
		}

		&-item {
			display: inline-block;
			margin-top: 1.6rem;

			&:not(:last-child) {
				margin-right: 4rem;
			}

			@include media(900px) {
				display: block;
				margin-top: 2rem;
				text-align: center;

				&:not(:last-child) {
					margin-right: 0;
					margin-bottom: 2rem;
				}
			}
		}

		&-link:link,
		&-link:visited {
			display: inline-block;
			text-decoration: none;
			font-size: 1.6rem;
			color: $color-font-primary;
			transition: transform 0.2s ease, color 0.2s ease;

			&:hover {
				transform: translateY(-2px);
				color: darken($color-font-primary, 15%);
			}

			@include media(900px) {
				font-size: 1.8rem;
			}
		}
	}

	&__btn-box {
		float: left;

		@include media(900px) {
			float: none;
			text-align: center;
		}
	}

	&__hero {
		position: relative;
		height: 780px;

		background-image: url('../img/hero.png'),
			linear-gradient($color-white, $color-white);
		background-size: cover;
		background-position: center;

		@include media(900px) {
			height: 540px;
		}
	}

	&__heading-box {
		@include absoluteCenter;
		top: 40%;
	}

	&__heading {
		color: $color-primary;
		text-align: center;
		margin-bottom: 5rem;

		&--top {
			display: block;

			font-family: 'Molle';
			font-size: 14rem;
			letter-spacing: 5px;
		}

		&--sub {
			display: block;

			font-size: 1.6rem;
			text-transform: uppercase;
			letter-spacing: 4px;
		}

		@include media(600px) {
			&--top {
				font-size: 9rem;
			}
		}
	}

	&__heading-btn {
		text-align: center;
	}
}

// Buttons
.btn {
	&:link,
	&:visited {
		display: inline-block;

		text-decoration: none;
		color: $color-primary;
		font-size: 1.6rem;

		padding: 1.6rem 4.5rem;
		border-radius: 100px;
		background-color: $color-white;
		box-shadow: 0 0 6rem rgba($color-primary, 0.3);

		transition: transform 0.2s ease, box-shadow 0.3s ease;
		backface-visibility: hidden;
	}

	&:hover {
		transform: translateY(-3px) scale(1.05);
		box-shadow: 0 0 8rem rgba($color-primary, 0.4);
	}

	&:active {
		transform: translateY(-1px) scale(1.01);
	}

	&--wide:link,
	&--wide:visited {
		padding: 1.6rem 5.5rem;
	}
}

.btn-secondary:link,
.btn-secondary:visited {
	display: inline-block;
	font-size: 1.2rem;
	font-weight: 700;
	color: $color-white;
	text-decoration: none;
	border: 2px solid $color-primary-light-2;
	border-radius: 100px;
	padding: 1rem 2rem;
	transition: background-color 0.2s ease, border 0.2s ease, color 0.2s ease;

	&:hover {
		background-color: $color-white;
		border: 2px solid $color-white;
		color: $color-primary;
	}

	@include media(800px) {
		font-size: 1.6rem;
	}
}

.btn-secondary--grey:link,
.btn-secondary--grey:visited {
	color: $color-grey-light;
	border: 2px solid $color-grey-light;
	font-size: 1.6rem;
	padding: 1.6rem 4rem;

	&:hover {
		border: 2px solid $color-primary;
	}
}

// Section - Search form
.section-form {
	padding: 5.5rem 0;
	background-color: $color-primary;

	@include media(800px) {
		padding: 4rem 0 2rem 0;
	}
}

// Form
.form {
	@include clearfix;

	max-width: 160rem;
	margin: 0 auto;
	padding: 0 1.5rem;

	@include media(1600px) {
		padding: 0 5rem;
	}

	@include media(500px) {
		padding: 0 2rem;
	}

	&__group {
		float: left;
		position: relative;

		&:not(&--stars) {
			margin-right: 3rem;
		}

		&::before {
			content: '';
			display: block;
			width: 1.4rem;
			height: 2rem;

			background-size: 100%;
			background-repeat: no-repeat;
			background-position: center;

			position: absolute;
			top: 50%;
			left: 3px;
			transform: translateY(-50%);
		}

		&--city::before {
			background-image: url('../img/icons/location-pin.png');
		}

		&--check-in::before,
		&--check-out::before {
			background-image: url('../img/icons/date-picker.png');
		}

		&--rooms::before {
			background-image: url('../img/icons/home.png');
		}

		&--adults::before {
			background-image: url('../img/icons/person.png');
		}

		&--child::before {
			background-image: url('../img/icons/face.png');
		}

		&--stars::before {
			background-image: url('../img/icons/star.png');
		}

		@include media(1600px) {
			margin-bottom: 2rem;
		}

		@include media(800px) {
			float: none;
			width: 80%;

			&,
			&:not(&--stars) {
				margin: 0 auto 2rem auto;
			}
		}

		@include media(500px) {
			width: 90%;
		}
	}

	&__input {
		font-family: inherit;
		color: $color-white;

		padding: 1.8rem 3rem;
		background-color: transparent;
		border: none;
		border-bottom: 1px solid $color-primary-light;
		cursor: pointer;
		transition: border-bottom 0.2s ease;

		&:focus {
			outline: none;
			border-bottom: 1px solid $color-white;
		}

		&::placeholder {
			color: $color-white;
		}

		&--city {
			width: 30rem;
		}

		&:not(&--city) {
			width: 17rem;
		}

		@include media(800px) {
			padding: 1.8rem 4rem;

			&--city,
			&:not(&--city) {
				display: block;
				width: 100%;
			}
		}
	}

	&__btn-box {
		float: left;
		margin-left: 2.2rem;

		@include media(800px) {
			float: none;
			margin: 2rem 0;
			text-align: center;
		}
	}

	&__btn {
		display: inline-block;
		width: 4.8rem;
		height: 4.8rem;

		background-image: url('../img/icons/search.png');
		background-repeat: no-repeat;
		background-position: center;
		background-color: $color-white;

		border-radius: 50%;
		border: none;
		box-shadow: 0 1rem 2rem rgba($color-black, 0.2);

		cursor: pointer;
		outline: none;
		transition: transform 0.2s ease, background-color 0.2s ease,
			box-shadow 0.2s ease;

		&:hover {
			transform: translateY(-2px);
			background-color: rgba($color-white, 0.9);
			box-shadow: 0 1.5rem 4rem rgba($color-black, 0.3);
		}

		&:active {
			transform: translateY(-1px);
			background-color: $color-white;
			box-shadow: 0 1rem 2.5rem rgba($color-black, 0.2);
		}
	}
}

// Section - Popular places
.section-heading {
	font-size: 1.6rem;
	letter-spacing: 5px;
	text-transform: uppercase;
	text-align: center;
	padding: 7.6rem 0;

	@include media(900px) {
		padding: 4rem 0;
	}
}

.place {
	position: relative;
	height: 270px;

	&--wide {
		height: 460px;

		@include media(800px) {
			height: 270px;
		}
	}

	&:first-child:not(&--wide) {
		margin-bottom: $row-gap;
	}

	&__photo {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&__title {
		font-size: 3rem;
		font-weight: 700;
		color: $color-white;

		position: absolute;
		bottom: 2rem;
		left: 3rem;
	}
}

.place-central {
	position: relative;
	height: 570px;

	@include media(800px) {
		height: 370px;
	}

	&__photo {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&__title {
		font-size: 3rem;
		font-weight: 700;
		color: $color-white;
		margin-bottom: 2rem;
	}

	&__container {
		@include absoluteCenter;

		width: 100%;
		text-align: center;
	}

	&__btn-box {
		.btn-secondary:not(:last-child) {
			margin-right: 2rem;
		}

		@include media(450px) {
			.btn-secondary {
				display: block;
				width: 80%;
				margin: 0 auto;

				&:not(:last-child) {
					margin: 0 auto;
					margin-bottom: 1rem;
				}
			}
		}
	}
}

// Section - hotels
.section-hotels {
	background-color: $color-grey;

	&__btn-container {
		padding: 5rem 0;
		text-align: center;

		@include media(600px) {
			padding: 3rem 0;
		}
	}
}

.hotels-list {
	max-width: 160rem;
	padding: 0 1.5rem;
	margin: 0 auto;

	@include media(1200px) {
		padding: 0;

		& > .row > *:not(:last-child) {
			margin-bottom: 6rem;
		}
	}
}

.hotel {
	position: relative;
	background-color: $color-white;
	box-shadow: 0 2rem 4rem rgba($color-black, 0.1);

	transition: transform 0.2s ease, box-shadow 0.2s ease;

	@include media(1200px) {
		max-width: 60rem;
		margin: 0 auto;
	}

	&:hover {
		transform: translateY(-2px) scale(1.02);
		box-shadow: 0 2rem 6rem rgba($color-black, 0.15);
	}

	&__photo-container {
		// width: 37rem;
		width: 100%;
		height: 30rem;
	}

	&__photo {
		width: 100%;
		height: 100%;
		object-fit: cover;
		backface-visibility: hidden;
	}

	&__info {
		@include clearfix;
		padding: 3rem 3rem 5rem 3rem;
	}

	&__info-container {
		float: left;
	}

	&__price-container {
		float: right;
		text-align: center;
	}

	&__name {
		font-size: 1.8rem;
		color: $color-font-primary;
		margin-bottom: 1.2rem;
		backface-visibility: hidden;

		@include media(1450px) {
			font-size: 1.6rem;
		}
	}

	&__icon {
		display: inline-block;
		margin-right: 3px;

		width: 1.6rem;
		height: 1.6rem;

		background-image: url('../img/icons/star-yellow.png');
		background-repeat: no-repeat;
		background-position: center;
	}

	&__price {
		font-size: 3.6rem;
		font-weight: 100;
		backface-visibility: hidden;

		@include media(1450px) {
			font-size: 3rem;
		}

		@include media(1300px) {
			font-size: 2.4rem;
		}
	}

	&__days {
		font-size: 1.4rem;
		color: $color-grey-light-2;
	}

	&__btn {
		display: inline-block;
		color: $color-primary;
		font-size: 1.6rem;
		text-decoration: none;
		padding: 1.6rem 5rem;
		background-color: $color-white;
		border-radius: 100px;
		box-shadow: 0 0 2rem rgba($color-black, 0.1);

		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translate(-50%, 50%);
		transition: background-color 0.2s ease;

		&:hover {
			background-color: darken($color-white, 5%);
		}

		@include media(1600px) {
			font-size: 1.4rem;
			padding: 1.6rem 3rem;
		}
	}
}

// Section - Slider
.section-slider {
	padding: 24rem 0;

	background-image: url('../img/slider-bg.png');
	background-size: cover;
	background-position: center;

	@include media(1200px) {
		padding: 12rem 0;
	}

	@include media(900px) {
		padding: 6rem 0;
	}

	@include media(600px) {
		padding: 3rem 0;
	}
}

// Slider
.slider {
	&__viewport {
		max-width: 160rem;
		height: 54rem;

		margin: 0 auto;
		padding: 3rem 1.5rem;

		position: relative;
		overflow: hidden;
	}

	&__btn {
		border: none;
		background-color: transparent;

		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		z-index: 1;
		cursor: pointer;

		&-img {
			width: 100%;
		}

		&--prev {
			left: 1rem;

			@include media(1200px) {
				left: 2.5rem;
			}
		}

		&--next {
			right: 1rem;

			@include media(1200px) {
				right: 2.5rem;
			}
		}

		@include media(1200px) {
			width: 3rem;
		}
	}

	&__slides-container {
		width: 90%;
		height: 100%;

		margin: 0 auto;
		position: relative;
		overflow: hidden;

		@include media(750px) {
			width: 80%;
		}
	}

	&__dots {
		position: absolute;
		bottom: 1rem;
		left: 50%;
		transform: translateX(-50%);

		width: 10rem;

		text-align: center;

		@include media(750px) {
			bottom: 4rem;
		}
	}

	&__dot {
		display: inline-block;
		width: 5px;
		height: 5px;
		border-radius: 50%;
		background-color: $color-white;
		margin: 0 1px;

		&.active {
			background-color: $color-primary-light-3;
		}
	}
}

.slide {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: left 0.8s ease, opacity 0.3s ease;

	&.active {
		opacity: 1;
	}

	&__title {
		font-size: 8rem;
		font-weight: 700;
		color: $color-white;

		text-align: center;

		width: 85rem;
		margin: 0 auto;
		margin-bottom: 2rem;

		span {
			font-family: 'Streetwear';
			font-size: 7rem;
			color: $color-primary-light-3;
		}

		@include media(900px) {
			width: 100%;
			font-size: 6rem;

			span {
				font-size: 5rem;
			}
		}

		@include media(750px) {
			font-size: 4rem;
			margin-top: 8rem;

			span {
				font-size: 3rem;
			}
		}

		@include media(420px) {
			font-size: 3rem;

			span {
				font-size: 2.5rem;
			}
		}
	}

	&__quote {
		font-size: 1.8rem;
		color: $color-white;
		line-height: 4.8rem;

		text-align: center;

		width: 60rem;
		margin: 0 auto;
		margin-bottom: 1.5rem;

		@include media(750px) {
			width: 100%;
			padding: 0 2rem;
			font-size: 1.6rem;
			line-height: 3rem;
		}
	}

	&__quote-author {
		font-size: 1.8rem;
		font-weight: 700;
		color: $color-white;

		text-align: center;

		@include media(750px) {
			font-size: 1.6rem;
		}
	}
}

// Footer
.main-footer {
	padding: 7rem 0;
	text-align: center;
	color: $color-grey-light;

	&__logo:link,
	&__logo:visited {
		display: block;
		margin-bottom: 2rem;

		text-decoration: none;
		font-family: 'Molle';
		font-size: 3rem;
		color: $color-grey-light;
	}

	&__copy {
		font-size: 1.8rem;
		padding: 0 2rem;
	}
}
