/*
    Imports and components
*/
/*
    Variables
    definitions
*/
/*
    File to hold mixins
*/
/*
    File to hold utility classes
*/
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,700");
.u-mb-md {
  margin-bottom: 6rem !important; }

/*
    File to hold grid system
*/
.row::after {
  content: '';
  display: table;
  clear: both; }

.row:not(:last-child) {
  margin-bottom: 3rem; }

.row [class^='col-'] {
  float: left; }
  .row [class^='col-']:not(:last-child) {
    margin-right: 3rem; }

.row .col-1-of-4 {
  width: calc((100% - 3 * 3rem) / 4); }

.row .col-2-of-4 {
  width: calc(2 * ((100% - 3 * 3rem) / 4) + 3rem); }

.row .col-1-of-2 {
  width: calc((100% - 3rem) / 2); }

@media only screen and (max-width: 1200px) {
  .row [class^='col-'] {
    float: none;
    width: 80%;
    margin: 0 auto; }
    .row [class^='col-']:not(:last-child) {
      margin: 0 auto;
      margin-bottom: 3rem; } }

@media only screen and (max-width: 800px) {
  .row [class^='col-'] {
    width: 90%; } }

/*
    Custom fonts
    definitions
*/
@font-face {
  font-family: 'Streetwear';
  src: local("Streetwear"), url("../fonts/Streetwear.otf") format("opentype");
  font-weight: 400; }

@font-face {
  font-family: 'Molle';
  src: local("Molle"), url("../fonts/Molle.ttf") format("truetype");
  font-weight: 400; }

/*
    Global reset
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%;
  font-weight: 400;
  color: #697899; }
  @media only screen and (max-width: 1200px) {
    html {
      font-size: 56.25%; } }

body {
  box-sizing: border-box;
  padding: 3rem; }
  @media only screen and (max-width: 1200px) {
    body {
      padding: 0; } }

/*
    Components
*/
.main-header {
  position: relative; }
  .main-header__checkbox {
    display: none; }
  .main-header__checkbox:checked ~ .main-header__nav {
    opacity: 1;
    visibility: visible;
    max-height: 250px; }
  .main-header__checkbox:checked ~ .main-header__menu-btn::before {
    transform: rotate(45deg); }
  .main-header__checkbox:checked ~ .main-header__menu-btn::after {
    transform: rotate(-45deg);
    top: 2rem; }
  .main-header__menu-btn {
    display: none;
    width: 3.5rem;
    height: 5rem;
    position: absolute;
    top: -1rem;
    right: 2rem; }
    @media only screen and (max-width: 900px) {
      .main-header__menu-btn {
        display: block; } }
    .main-header__menu-btn::before, .main-header__menu-btn::after {
      content: '';
      display: block;
      height: 3px;
      width: 100%;
      background-color: #017dfb;
      position: absolute;
      transition: top 0.2s ease, transform 0.2s ease; }
    .main-header__menu-btn::before {
      top: 2rem; }
    .main-header__menu-btn::after {
      top: 3rem; }
  .main-header__container {
    position: relative;
    z-index: 1;
    max-width: 160rem;
    margin: 0 auto;
    margin-top: 3rem;
    padding: 1rem 0; }
    .main-header__container::after {
      content: '';
      display: table;
      clear: both; }
    @media only screen and (max-width: 1600px) {
      .main-header__container {
        max-width: 120rem; } }
    @media only screen and (max-width: 1200px) {
      .main-header__container {
        padding: 0 3rem; } }
    @media only screen and (max-width: 900px) {
      .main-header__container {
        padding: 0; } }
  .main-header__logo:link, .main-header__logo:visited {
    display: block;
    font-family: 'Molle';
    font-size: 3rem;
    color: #017dfb;
    text-decoration: none;
    transition: color 0.2s ease;
    float: left;
    margin-top: 1rem; }
    .main-header__logo:link:hover, .main-header__logo:visited:hover {
      color: rgba(1, 125, 251, 0.7); }
    @media only screen and (max-width: 900px) {
      .main-header__logo:link, .main-header__logo:visited {
        display: block;
        float: none;
        text-align: center; } }
  .main-header__nav {
    float: right; }
    .main-header__nav::after {
      content: '';
      display: table;
      clear: both; }
    @media only screen and (max-width: 900px) {
      .main-header__nav {
        display: block;
        float: none;
        width: 90%;
        margin: 0 auto;
        visibility: hidden;
        opacity: 0;
        max-height: 0;
        transition: max-height 0.2s ease, opacity 0.2s ease; } }
    .main-header__nav-list {
      float: left;
      margin-right: 4rem;
      list-style: none; }
      @media only screen and (max-width: 900px) {
        .main-header__nav-list {
          float: none;
          margin-bottom: 4rem;
          margin-right: 0; } }
    .main-header__nav-item {
      display: inline-block;
      margin-top: 1.6rem; }
      .main-header__nav-item:not(:last-child) {
        margin-right: 4rem; }
      @media only screen and (max-width: 900px) {
        .main-header__nav-item {
          display: block;
          margin-top: 2rem;
          text-align: center; }
          .main-header__nav-item:not(:last-child) {
            margin-right: 0;
            margin-bottom: 2rem; } }
    .main-header__nav-link:link, .main-header__nav-link:visited {
      display: inline-block;
      text-decoration: none;
      font-size: 1.6rem;
      color: #697899;
      transition: transform 0.2s ease, color 0.2s ease; }
      .main-header__nav-link:link:hover, .main-header__nav-link:visited:hover {
        transform: translateY(-2px);
        color: #49546c; }
  .main-header__btn-box {
    float: left; }
    @media only screen and (max-width: 900px) {
      .main-header__btn-box {
        float: none;
        text-align: center; } }
  .main-header__hero {
    position: relative;
    height: 780px;
    background-image: url("../img/hero.png"), linear-gradient(#fff, #fff);
    background-size: cover;
    background-position: center; }
    @media only screen and (max-width: 900px) {
      .main-header__hero {
        height: 540px; } }
  .main-header__heading-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 40%; }
  .main-header__heading {
    color: #017dfb;
    text-align: center;
    margin-bottom: 5rem; }
    .main-header__heading--top {
      display: block;
      font-family: 'Molle';
      font-size: 14rem;
      letter-spacing: 5px; }
    .main-header__heading--sub {
      display: block;
      font-size: 1.6rem;
      text-transform: uppercase;
      letter-spacing: 4px; }
    @media only screen and (max-width: 600px) {
      .main-header__heading--top {
        font-size: 9rem; } }
  .main-header__heading-btn {
    text-align: center; }

.btn:link, .btn:visited {
  display: inline-block;
  text-decoration: none;
  color: #017dfb;
  font-size: 1.6rem;
  padding: 1.6rem 4.5rem;
  border-radius: 100px;
  background-color: #fff;
  box-shadow: 0 0 6rem rgba(1, 125, 251, 0.3);
  transition: transform 0.2s ease, box-shadow 0.3s ease;
  backface-visibility: hidden; }

.btn:hover {
  transform: translateY(-3px) scale(1.05);
  box-shadow: 0 0 8rem rgba(1, 125, 251, 0.4); }

.btn:active {
  transform: translateY(-1px) scale(1.01); }

.btn--wide:link, .btn--wide:visited {
  padding: 1.6rem 5.5rem; }

.btn-secondary:link,
.btn-secondary:visited {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  border: 2px solid #5abafd;
  border-radius: 100px;
  padding: 1rem 2rem;
  transition: background-color 0.2s ease, border 0.2s ease, color 0.2s ease; }
  .btn-secondary:link:hover,
  .btn-secondary:visited:hover {
    background-color: #fff;
    border: 2px solid #fff;
    color: #017dfb; }
  @media only screen and (max-width: 800px) {
    .btn-secondary:link,
    .btn-secondary:visited {
      font-size: 1.6rem; } }

.btn-secondary--grey:link,
.btn-secondary--grey:visited {
  color: #c5c5c5;
  border: 2px solid #c5c5c5;
  font-size: 1.6rem;
  padding: 1.6rem 4rem; }
  .btn-secondary--grey:link:hover,
  .btn-secondary--grey:visited:hover {
    border: 2px solid #017dfb; }

.section-form {
  padding: 5.5rem 0;
  background-color: #017dfb; }
  @media only screen and (max-width: 800px) {
    .section-form {
      padding: 4rem 0 2rem 0; } }

.form {
  max-width: 160rem;
  margin: 0 auto;
  padding: 0 1.5rem; }
  .form::after {
    content: '';
    display: table;
    clear: both; }
  @media only screen and (max-width: 1600px) {
    .form {
      padding: 0 5rem; } }
  @media only screen and (max-width: 500px) {
    .form {
      padding: 0 2rem; } }
  .form__group {
    float: left;
    position: relative; }
    .form__group:not(.form__group--stars) {
      margin-right: 3rem; }
    .form__group::before {
      content: '';
      display: block;
      width: 1.4rem;
      height: 2rem;
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      top: 50%;
      left: 3px;
      transform: translateY(-50%); }
    .form__group--city::before {
      background-image: url("../img/icons/location-pin.png"); }
    .form__group--check-in::before, .form__group--check-out::before {
      background-image: url("../img/icons/date-picker.png"); }
    .form__group--rooms::before {
      background-image: url("../img/icons/home.png"); }
    .form__group--adults::before {
      background-image: url("../img/icons/person.png"); }
    .form__group--child::before {
      background-image: url("../img/icons/face.png"); }
    .form__group--stars::before {
      background-image: url("../img/icons/star.png"); }
    @media only screen and (max-width: 1600px) {
      .form__group {
        margin-bottom: 2rem; } }
    @media only screen and (max-width: 800px) {
      .form__group {
        float: none;
        width: 80%; }
        .form__group, .form__group:not(.form__group--stars) {
          margin: 0 auto 2rem auto; } }
    @media only screen and (max-width: 500px) {
      .form__group {
        width: 90%; } }
  .form__input {
    font-family: inherit;
    color: #fff;
    padding: 1.8rem 3rem;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #1b8afb;
    cursor: pointer;
    transition: border-bottom 0.2s ease; }
    .form__input:focus {
      outline: none;
      border-bottom: 1px solid #fff; }
    .form__input::placeholder {
      color: #fff; }
    .form__input--city {
      width: 30rem; }
    .form__input:not(.form__input--city) {
      width: 17rem; }
    @media only screen and (max-width: 800px) {
      .form__input {
        padding: 1.8rem 4rem; }
        .form__input--city, .form__input:not(.form__input--city) {
          display: block;
          width: 100%; } }
  .form__btn-box {
    float: left;
    margin-left: 2.2rem; }
    @media only screen and (max-width: 800px) {
      .form__btn-box {
        float: none;
        margin: 2rem 0;
        text-align: center; } }
  .form__btn {
    display: inline-block;
    width: 4.8rem;
    height: 4.8rem;
    background-image: url("../img/icons/search.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fff;
    border-radius: 50%;
    border: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    cursor: pointer;
    outline: none;
    transition: transform 0.2s ease, background-color 0.2s ease, box-shadow 0.2s ease; }
    .form__btn:hover {
      transform: translateY(-2px);
      background-color: rgba(255, 255, 255, 0.9);
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.3); }
    .form__btn:active {
      transform: translateY(-1px);
      background-color: #fff;
      box-shadow: 0 1rem 2.5rem rgba(0, 0, 0, 0.2); }

.section-heading {
  font-size: 1.6rem;
  letter-spacing: 5px;
  text-transform: uppercase;
  text-align: center;
  padding: 7.6rem 0; }
  @media only screen and (max-width: 900px) {
    .section-heading {
      padding: 4rem 0; } }

.place {
  position: relative;
  height: 270px; }
  .place--wide {
    height: 460px; }
    @media only screen and (max-width: 800px) {
      .place--wide {
        height: 270px; } }
  .place:first-child:not(.place--wide) {
    margin-bottom: 3rem; }
  .place__photo {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .place__title {
    font-size: 3rem;
    font-weight: 700;
    color: #fff;
    position: absolute;
    bottom: 2rem;
    left: 3rem; }

.place-central {
  position: relative;
  height: 570px; }
  @media only screen and (max-width: 800px) {
    .place-central {
      height: 370px; } }
  .place-central__photo {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .place-central__title {
    font-size: 3rem;
    font-weight: 700;
    color: #fff;
    margin-bottom: 2rem; }
  .place-central__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center; }
  .place-central__btn-box .btn-secondary:not(:last-child) {
    margin-right: 2rem; }
  @media only screen and (max-width: 400px) {
    .place-central__btn-box .btn-secondary {
      display: block;
      width: 80%;
      margin: 0 auto; }
      .place-central__btn-box .btn-secondary:not(:last-child) {
        margin: 0 auto;
        margin-bottom: 1rem; } }

.section-hotels {
  background-color: #f9f9f9; }
  .section-hotels__btn-container {
    padding: 5rem 0;
    text-align: center; }
    @media only screen and (max-width: 600px) {
      .section-hotels__btn-container {
        padding: 3rem 0; } }

.hotels-list {
  max-width: 160rem;
  padding: 0 1.5rem;
  margin: 0 auto; }
  @media only screen and (max-width: 1200px) {
    .hotels-list {
      padding: 0; }
      .hotels-list > .row > *:not(:last-child) {
        margin-bottom: 6rem; } }

.hotel {
  position: relative;
  background-color: #fff;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease; }
  @media only screen and (max-width: 1200px) {
    .hotel {
      max-width: 60rem;
      margin: 0 auto; } }
  .hotel:hover {
    transform: translateY(-2px) scale(1.02);
    box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.15); }
  .hotel__photo-container {
    width: 100%;
    height: 30rem; }
  .hotel__photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    backface-visibility: hidden; }
  .hotel__info {
    padding: 3rem 3rem 5rem 3rem; }
    .hotel__info::after {
      content: '';
      display: table;
      clear: both; }
  .hotel__info-container {
    float: left; }
  .hotel__price-container {
    float: right;
    text-align: center; }
  .hotel__name {
    font-size: 1.8rem;
    color: #697899;
    margin-bottom: 1.2rem;
    backface-visibility: hidden; }
    @media only screen and (max-width: 1450px) {
      .hotel__name {
        font-size: 1.6rem; } }
  .hotel__icon {
    display: inline-block;
    margin-right: 3px;
    width: 1.6rem;
    height: 1.6rem;
    background-image: url("../img/icons/star-yellow.png");
    background-repeat: no-repeat;
    background-position: center; }
  .hotel__price {
    font-size: 3.6rem;
    font-weight: 100;
    backface-visibility: hidden; }
    @media only screen and (max-width: 1450px) {
      .hotel__price {
        font-size: 3rem; } }
    @media only screen and (max-width: 1300px) {
      .hotel__price {
        font-size: 2.4rem; } }
  .hotel__days {
    font-size: 1.4rem;
    color: #d9dce3; }
  .hotel__btn {
    display: inline-block;
    color: #017dfb;
    font-size: 1.6rem;
    text-decoration: none;
    padding: 1.6rem 5rem;
    background-color: #fff;
    border-radius: 100px;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    transition: background-color 0.2s ease; }
    .hotel__btn:hover {
      background-color: #f2f2f2; }
    @media only screen and (max-width: 1600px) {
      .hotel__btn {
        font-size: 1.4rem;
        padding: 1.6rem 3rem; } }

.section-slider {
  padding: 24rem 0;
  background-image: url("../img/slider-bg.png");
  background-size: cover;
  background-position: center; }
  @media only screen and (max-width: 1200px) {
    .section-slider {
      padding: 12rem 0; } }
  @media only screen and (max-width: 900px) {
    .section-slider {
      padding: 6rem 0; } }
  @media only screen and (max-width: 600px) {
    .section-slider {
      padding: 3rem 0; } }

.slider__viewport {
  max-width: 160rem;
  height: 54rem;
  margin: 0 auto;
  padding: 3rem 1.5rem;
  position: relative;
  overflow: hidden; }

.slider__btn {
  border: none;
  background-color: transparent;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  cursor: pointer; }
  .slider__btn-img {
    width: 100%; }
  .slider__btn--prev {
    left: 1rem; }
    @media only screen and (max-width: 1200px) {
      .slider__btn--prev {
        left: 2.5rem; } }
  .slider__btn--next {
    right: 1rem; }
    @media only screen and (max-width: 1200px) {
      .slider__btn--next {
        right: 2.5rem; } }
  @media only screen and (max-width: 1200px) {
    .slider__btn {
      width: 3rem; } }

.slider__slides-container {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden; }
  @media only screen and (max-width: 750px) {
    .slider__slides-container {
      width: 80%; } }

.slider__dots {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  width: 10rem;
  text-align: center; }
  @media only screen and (max-width: 750px) {
    .slider__dots {
      bottom: 4rem; } }

.slider__dot {
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #fff;
  margin: 0 1px; }
  .slider__dot.active {
    background-color: #0dcfff; }

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: left 0.8s ease, opacity 0.3s ease; }
  .slide.active {
    opacity: 1; }
  .slide__title {
    font-size: 8rem;
    font-weight: 700;
    color: #fff;
    text-align: center;
    width: 85rem;
    margin: 0 auto;
    margin-bottom: 2rem; }
    .slide__title span {
      font-family: 'Streetwear';
      font-size: 7rem;
      color: #0dcfff; }
    @media only screen and (max-width: 900px) {
      .slide__title {
        width: 100%;
        font-size: 6rem; }
        .slide__title span {
          font-size: 5rem; } }
    @media only screen and (max-width: 750px) {
      .slide__title {
        font-size: 4rem;
        margin-top: 8rem; }
        .slide__title span {
          font-size: 3rem; } }
    @media only screen and (max-width: 420px) {
      .slide__title {
        font-size: 3rem; }
        .slide__title span {
          font-size: 2.5rem; } }
  .slide__quote {
    font-size: 1.8rem;
    color: #fff;
    line-height: 4.8rem;
    text-align: center;
    width: 60rem;
    margin: 0 auto;
    margin-bottom: 1.5rem; }
    @media only screen and (max-width: 750px) {
      .slide__quote {
        width: 100%;
        padding: 0 2rem;
        font-size: 1.6rem;
        line-height: 3rem; } }
  .slide__quote-author {
    font-size: 1.8rem;
    font-weight: 700;
    color: #fff;
    text-align: center; }
    @media only screen and (max-width: 750px) {
      .slide__quote-author {
        font-size: 1.6rem; } }

.main-footer {
  padding: 7rem 0;
  text-align: center;
  color: #c5c5c5; }
  .main-footer__logo:link, .main-footer__logo:visited {
    display: block;
    margin-bottom: 2rem;
    text-decoration: none;
    font-family: 'Molle';
    font-size: 3rem;
    color: #c5c5c5; }
  .main-footer__copy {
    font-size: 1.8rem;
    padding: 0 2rem; }
